.profile-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-width: 500px;
  margin: 20px auto;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn {
  background: black;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.upload-input {
  margin-top: 10px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-details label {
  font-weight: bold;
  margin-bottom: 4px;
}

.profile-details input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.profile-actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.save-btn {
  background: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
}

.cancel-btn {
  background: grey;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  flex: 1;
}



@media (max-width: 600px) {
  .profile-container {
    padding: 15px;
  }

  .profile-pic img {
    width: 80px;
    height: 80px;
  }
}
