.withdrawal {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.withdrawal-request,
.withdrawal-history {
  flex: 1;
  min-width: 300px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

/* Request Withdrawal Form */
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.withdrawal-btn {
  background: black;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.withdraw-btn:hover {
  opacity: 0.9;
}

/* Withdrawal History Table */
.table-container {
  overflow-x: auto;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
}

.history-table th,
.history-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.history-table th {
  background-color: #f9f9f9;
}




/* Responsive */
@media (max-width: 768px) {
  .withdrawal {
    flex-direction: column;
  }
}
